<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Compiled and minified CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <link href="../css/landingpage.css" rel="stylesheet">
</head>
<style>

    body {
        background-image: url(../assets/img/landingPageBackground.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-attachment: scroll;
        height: 100vh;
    }

</style>
<head>
    <title>Some Title</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <style></style>
</head>
<body>
<a class="btn disable #00000057" href="homepage.html">View</a>
<img alt="" src="../assets/img/photographer%20logo%20new3.svg">
<div class="footer">
    <p>especial_photo </p>
</div>
</body>
</html>